%p#notice= notice

%p
  %b Name:
  = @user.name
%p
  %b Email:
  = @user.email
%p
  %b Phone:
  = @user.phone
%p
  %b Password:
  = @user.password
%p
  %b Password digest:
  = @user.password_digest
%p
  %b Admin:
  = @user.admin

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
